.reactOrgChart-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 82px;
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  display: flex;
  flex: 1;
  background-size: 10px 10px;
  background-image: linear-gradient(
      to right,
      rgba(1, 1, 1, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(1, 1, 1, 0.03) 1px, transparent 1px);
}
.reactOrgChart {
  margin: 2px;
  padding: 2rem;
  display: block;
  overflow: hidden;
  cursor: all-scroll;
  flex-grow: 1;
}

.reactOrgChart .orgNodeChildGroup .node {
  border: solid 1px #000000;
  display: inline-block;
  padding: 4px;
  width: 100px;
}

.reactOrgChart .orgNodeChildGroup .nodeCell {
  text-align: center;
}

.reactOrgChart .orgNodeChildGroup .nodeCell .nodeItem {
  border: solid 1px #aaa;
  margin: 0 3px;
  border-radius: 3px;
  padding: 5px;
  width: 200px;
  display: inline-block;
  background: #fff;
}
.reactOrgChart .orgNodeChildGroup .nodeCell .nodeItem img {
  display: inline-block;
  width: 32px;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell {
  vertical-align: top;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  height: 25px;
  width: 50%;
  border-right: solid 1px #aaa;
}

.reactOrgChart .nodeLineBorderTop {
  border-top: solid 1px #aaa;
}

.reactOrgChart table {
  border-collapse: collapse;
  border: none;
  margin: 0 auto;
}

.reactOrgChart td {
  padding: 0;
}

.reactOrgChart table.nodeLineTable {
  width: 100%;
}

.reactOrgChart table td.nodeCell {
  width: 50%;
}
